{% for five_tricks in tricks|batch(5, false) %}
    <div class="row d-flex justify-content-start my-3">
        {% for trick in five_tricks %}
            {% if trick %}
                <div class="trick col-sm col-md">
                    <div class="card">
                        {% if trick.images|length > 0 %}
                            <img
                                alt="{{ trick.images[0].alt }}"
                                class="card-img-top image-trick"
                                src="{{ asset('images/' ~ trick.images[0].name) }}"
                            />
                        {% else %}
                            <img
                                alt="SnowTricks"
                                class="card-img-top image-trick"
                                src="{{ asset('images/snowtricks.jpg') }}"
                            />
                        {% endif %}
                        <div class="card-body trick-content d-flex justify-content-between align-items-center">
                            <a href="{{ path('trick', {
                                id: trick.id,
                            }) }}">
                                <h5 class="card-title">{{ trick.name }}</h5>
                            </a>
                            {% if is_granted('ROLE_USER') %}
                                <div class="trick-content-actions d-flex align-items-center">
                                    <a href="{{ path('app_trick_edit', {
                                        id: trick.id
                                    }) }}">
                                        <i class="bi bi-pencil"></i>
                                    </a>
                                    <span data-bs-toggle="modal" data-bs-target="#trick-{{ trick.id }}">
                                        <i class="bi bi-trash"></i>
                                    </span>
                                    {{ include('_inc/_modal.html.twig', {
                                        id: trick.id,
                                        htmlName: 'trick',
                                        name: trick.name,
                                    }) }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="trick col-sm col-md"></div>
            {% endif %}
        {% endfor %}
    </div>
{% endfor %}
