{{ form_start(form) }}
    {% if trick.mainImage is not null %}
        <div class="col-md-12">
            <div id="{{ trick.mainImage.id }}" class="d-flex flex-wrap">
                <div class="form-check my-2 col-12 d-flex flex-column">
                    <div class="actions d-flex justify-content-end">
                        <a href="{{ path('app_image_edit', {
                            id: trick.mainImage.id
                        }) }}">
                            <i class="bi bi-pencil"></i>
                        </a>
                        <span data-bs-toggle="modal" data-bs-target="#mainImage-{{ trick.mainImage.id }}">
                            <i class="bi bi-trash"></i>
                        </span>
                    </div>
                    <label class="form-check-label" for="{{ trick.mainImage.id }}">
                        <img class="img-fluid rounded" src="{{ asset('uploads/images/' ~ trick.mainImage.name) }}" alt="{{ trick.mainImage.alt }}" />
                    </label>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="col-md-12">
        {{ form_row(form.mainImage) }}
    </div>

    <div id="see-medias-block" class="text-center" data-controller="show-medias">
        <button class="btn btn-primary d-sm-none" data-action="show-medias#show">See medias</button>
    </div>
    <div class="row d-none d-sm-flex">
        <div class="col-md-6">
            {% if trick is defined %}
                <label class="mb-3 {% if form.images.vars.required %}required{% endif %}">{{ form.images.vars.name|capitalize }}</label>
                <div id="{{ form.images.vars.id }}" class="d-flex flex-wrap flex-column flex-md-row container">
                    {% for image in form.images %}
                        <div class="form-check my-2 col-12 col-md-4 d-flex flex-column">
                            <div class="actions d-flex justify-content-end">
                                <a href="{{ path('app_image_edit', {
                                    id: image.vars.data.id
                                }) }}">
                                    <i class="bi bi-pencil"></i>
                                </a>
                                <span data-bs-toggle="modal" data-bs-target="#image-{{ image.vars.data.id }}">
                                    <i class="bi bi-trash"></i>
                                </span>
                            </div>
                            <label class="form-check-label" for="{{ image.vars.data.id }}">
                                <img class="img-fluid rounded" src="{{ asset('uploads/images/' ~ image.vars.data.name) }}" alt="{{ image.vars.data.alt }}" />
                            </label>
                            {{ form_row(image) }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            <div {{ stimulus_controller('form-collection') }}
                data-form-collection-index-value="{{ form.images|length > 0 ? form.images|last.vars.name + 1 : 0 }}"
                data-form-collection-prototype-value="<div id=&quot;trick_images___name__&quot;><div class=&quot;mb-3&quot;><label for=&quot;trick_images___name___file&quot; class=&quot;form-label&quot;>File</label><input type=&quot;file&quot; id=&quot;trick_images___name___file&quot; name=&quot;trick[images][__name__][file]&quot; class=&quot;form-control&quot; />        </div><div class=&quot;mb-3&quot;><label for=&quot;trick_images___name___alt&quot; class=&quot;form-label required&quot;>Alt</label><input type=&quot;text&quot; id=&quot;trick_images___name___alt&quot; name=&quot;trick[images][__name__][alt]&quot; required=&quot;required&quot; class=&quot;form-control&quot; />        </div></div>"
            >
                <ul {{ stimulus_target('form-collection', 'collectionContainer') }}></ul>
                <button
                    class="btn btn-primary"
                    type="button"
                    {{ stimulus_action('form-collection', 'addCollectionElement') }}
                >Add an image</button>
            </div>
            {% do form.images.setRendered() %}
        </div>

        <div class="col-md-6">
            {% if trick is defined %}
                <label class="mb-3 {% if form.videos.vars.required %}required{% endif %}">{{ form.videos.vars.name|capitalize }}</label>
                <div id="{{ form.videos.vars.id }}" class="d-flex flex-wrap flex-column flex-md-row container">
                    {% for video in form.videos %}
                        <div class="form-check my-2 col-12 col-md-4 d-flex flex-column">
                            <div class="actions d-flex justify-content-end">
                                <a href="{{ path('app_video_edit', {
                                    id: video.vars.data.id
                                }) }}">
                                    <i class="bi bi-pencil"></i>
                                </a>
                                <span data-bs-toggle="modal" data-bs-target="#video-{{ video.vars.data.id }}">
                                    <i class="bi bi-trash"></i>
                                </span>
                            </div>
                            <label class="form-check-label" for="{{ video.vars.data.id }}">
                                <embed type="video/mp4" src="{{ video.vars.data.url }}" width="100%" height="125">
                            </label>
                            {{ form_row(video) }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            <div {{ stimulus_controller('form-collection') }}
                data-form-collection-index-value="{{ form.videos|length > 0 ? form.images|last.vars.name + 1 : 0 }}"
                data-form-collection-prototype-value="{{ form_widget(form.videos.vars.prototype)|e('html_attr') }}"
            >
                <ul {{ stimulus_target('form-collection', 'collectionContainer') }}></ul>
                <button
                    class="btn btn-primary"
                    type="button"
                    {{ stimulus_action('form-collection', 'addCollectionElement') }}
                >Add a video</button>
            </div>
            {% do form.videos.setRendered() %}
        </div>
    </div>

    <br>

    <div class="col-md-6 offset-md-2">
        {{ form_row(form.name) }}
    </div>
    <div class="col-md-8 offset-md-2">
        {{ form_row(form.description) }}
    </div>
    <div class="row">
        <div class="col-md-2 offset-md-2">
            {{ form_row(form.category) }}
        </div>
        <div class="col-md-2 offset-md-{% if delete is defined %}4{% else %}5{% endif %}">
            <div class="d-flex justify-content-between">
                {% if delete is defined %}
                    {{ include('_inc/_modal_button.html.twig', {
                        btn_class: 'btn-danger',
                        content: 'Delete',
                        target: 'trick-' ~ trick.id
                    }) }}
                {% endif %}
                <button class="btn btn-{% if delete is defined %}warning{% else %}primary{% endif %}">{{ button_label|default('Save') }}</button>
            </div>
        </div>
    </div>
    {{ form_row(form._token) }}
{{ form_end(form) }}

{% if trick.mainImage is not null %}
    {{ include('_inc/_modal.html.twig', {
        id: trick.mainImage.id,
        htmlName: 'mainImage',
        name: trick.mainImage.name,
        includeForm: include('_inc/_delete_form.html.twig', {
            action: path('app_image_delete', {'id': trick.mainImage.id}),
            content: 'Delete',
            value: csrf_token('delete' ~ trick.mainImage.id),
        })
    }) }}
{% endif %}

{% for image in form.images %}
    {{ include('_inc/_modal.html.twig', {
        id: image.vars.data.id,
        htmlName: 'image',
        name: image.vars.data.name,
        includeForm: include('_inc/_delete_form.html.twig', {
            action: path('app_image_delete', {'id': image.vars.data.id}),
            content: 'Delete',
            value: csrf_token('delete' ~ image.vars.data.id),
        })
    }) }}
{% endfor %}

{% for video in form.videos %}
    {{ include('_inc/_modal.html.twig', {
        id: video.vars.data.id,
        htmlName: 'video',
        name: video.vars.data.url,
        includeForm: include('_inc/_delete_form.html.twig', {
            action: path('app_video_delete', {'id': video.vars.data.id}),
            content: 'Delete',
            value: csrf_token('delete' ~ video.vars.data.id),
        })
    }) }}
{% endfor %}

{% if delete is defined %}
    {{ include('_inc/_modal.html.twig', {
        id: trick.id,
        htmlName: 'trick',
        name: trick.name,
        includeForm: include('_inc/_delete_form.html.twig', {
            action: path('app_trick_delete', {'slug': trick.slug}),
            content: 'Delete',
            value: csrf_token('delete' ~ trick.id),
        })
    }) }}
{% endif %}
