{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="col-md-4 offset-md-4 text-center mt-5">
            <h1>Login</h1>
            <div class="border border-black border-3 container">
                <div class="col-md-6 offset-md-3 my-3">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
                    {{ form_start(form) }}
                        {{ form_errors(form) }}
                        {{ form_widget(form) }}
                        <button class="btn btn-primary" type="submit">Connexion</button>
                    {{ form_end(form) }}
                    <br>
                    <p><a href="{{ path('app_register') }}">Inscription</a></p>
                    <p><a href="{{ path('app_forget_password') }}">Mot de passe oublié</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
